@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.cartContainer {
  width: 100%;
  height: calc(100vh - 60px - 5px);
  overflow-y: scroll;
}

.cartContainer .billSection {
  width: 100%;
  height: auto;
  position: relative;
}

.cartContainer .billSection .signInNofication {
  width: 480px;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cartContainer .billSection .signInNofication .message {
  font-size: 47px;
  font-family: "Poppins", sans-serif;
}

.cartContainer .billSection .signInNofication .signInNoficationAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.cartContainer .billSection .signInNofication .signInNoficationAction .navLink {
  text-decoration: none;
}

.cartContainer .billSection .signInNofication .signInNoficationAction .navLink .button {
  font-size: 20px;
  width: 250px;
}

.cartContainer .billSection .productInCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartContainer .billSection .productInCart .productInCartWrapper {
  width: 80%;
  height: 100px;
  margin: 30px;
  margin-right: 0px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cartContainer .billSection .productInCart .productInCartWrapper img {
  width: 200px;
  height: 100%;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .productName {
  font-size: 25px;
  font-weight: bold;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .priceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .priceWrapper .oldPrice {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.26);
  font-size: 15px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .priceWrapper .changeIcon {
  font-size: 32px;
  margin: 10px;
  margin-top: -5px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .priceWrapper .newPrice {
  font-size: 20px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .amountArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .amountArea .amountWrapper {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .amountArea .amountWrapper .add,
.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .amountArea .amountWrapper .minus {
  padding: 0px 3px !important;
  min-width: 0px !important;
  border-radius: 0px !important;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .amountArea .amountWrapper .add {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .amountArea .amountWrapper .add .addIcon {
  font-size: 20px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .amountArea .amountWrapper .minus {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .amountArea .amountWrapper .minus .removeIcon {
  font-size: 20px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .productInformationWrapper .amountArea .amountWrapper .amount {
  font-size: 20px;
  padding: 2px 10px;
  background-color: #ffffffb6;
}

.cartContainer .billSection .productInCart .productInCartWrapper .totalPriceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100px;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .totalPriceWrapper .calcPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2px;
}

.cartContainer .billSection .productInCart .productInCartWrapper .totalPriceWrapper .calcPrice span {
  font-weight: bold;
}

.cartContainer .billSection .productInCart .deleteWrapper {
  margin-top: 30px;
  height: 100px;
  text-align: center;
}

.cartContainer .billSection .productInCart .deleteWrapper .iconButton {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0px !important;
}

.cartContainer .billSection .productInCart .deleteWrapper .iconButton .icon {
  font-size: 20px;
}

.cartContainer .billSection .mobileProductInCart {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
}

.cartContainer .billSection .mobileProductInCart img {
  width: 130px;
  height: 80px;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail {
  margin-left: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .mobileTitle {
  font-size: 19px;
  font-weight: 500;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .priceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .priceWrapper .oldPrice {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.26);
  font-size: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .priceWrapper .changeIcon {
  font-size: 32px;
  margin: 0 5px;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .priceWrapper .newPrice {
  font-size: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .amountArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .amountArea .amountWrapper {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .amountArea .amountWrapper .add,
.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .amountArea .amountWrapper .minus {
  padding: 0px 3px !important;
  min-width: 0px !important;
  border-radius: 0px !important;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .amountArea .amountWrapper .add {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .amountArea .amountWrapper .add .addIcon {
  font-size: 20px;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .amountArea .amountWrapper .minus {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .amountArea .amountWrapper .minus .removeIcon {
  font-size: 20px;
}

.cartContainer .billSection .mobileProductInCart .mobileProductInCartDetail .amountArea .amountWrapper .amount {
  font-size: 20px;
  padding: 2px 10px;
  background-color: #ffffffb6;
}

.cartContainer .billSection .mobileProductInCart .totalPriceWrapper {
  width: auto;
  position: absolute;
  right: 0px;
  bottom: -25px;
}

.cartContainer .billSection .mobileProductInCart .totalPriceWrapper .calcPrice {
  font-size: 17px;
  font-weight: bold;
}

.cartContainer .totalSection {
  width: 100%;
  height: auto;
}

.cartContainer .totalSection .totalWrapper {
  padding: 10px;
  margin-top: 70px;
  width: 90%;
  margin-right: 5%;
  height: auto;
  padding-bottom: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.cartContainer .totalSection .totalWrapper .billHeader {
  color: #3f51b5;
  font-family: "Do Hyeon", sans-serif;
  font-size: 35px;
  text-align: center;
}

.cartContainer .totalSection .totalWrapper .amountProductAnnouncement {
  font-weight: bold;
  margin-top: 40px;
}

.cartContainer .totalSection .totalWrapper .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.cartContainer .totalSection .totalWrapper .price span {
  font-weight: bold;
}

.cartContainer .totalSection .totalWrapper .placeOrderButton {
  width: 100%;
}

@media (max-width: 960px) and (min-width: 600px) {
  .cartContainer .billSection .productInCart .productInCartWrapper img {
    width: 25%;
  }
  .cartContainer .billSection .productInCart .productInCartWrapper {
    height: 80px;
  }
  .MuiPaper-root.productInCartWrapper.MuiPaper-elevation1.MuiPaper-rounded {
    margin: 0px;
  }
  .productInCart {
    height: 115px !important;
    margin-top: 30px !important;
  }
  .priceWrapper {
    margin-top: 20px !important;
  }
  .oldPrice {
    font-size: 18px !important;
  }
  .newPrice {
    font-size: 24px !important;
    line-height: 20px !important;
  }
  .productName {
    font-size: 25px !important;
  }
  .deleteWrapper {
    margin-top: unset !important;
    height: 100px !important;
  }
  .amount {
    padding: 1px 7px !important;
  }
  .amountArea {
    position: absolute;
    bottom: -28px;
    right: 10px;
  }
  .amountWrapper {
    height: 23px !important;
    width: 75px;
  }
  button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.minus.MuiButton-containedPrimary {
    border: unset !important;
  }
  button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.add.MuiButton-containedPrimary {
    border: unset !important;
  }
  .cartContainer
.billSection
.productInCart
.productInCartWrapper
.productInformationWrapper
.amountArea
.amountWrapper {
    width: 76px !important;
  }
  .amountArea {
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    width: 76px !important;
  }
  .cartContainer .totalSection .totalWrapper {
    width: 90% !important;
    margin-left: 5% !important;
    position: relative !important;
    top: unset !important;
  }
  .cartContainer .billSection {
    height: auto !important;
    padding: 10px !important;
  }
  .cartContainer .billSection .productInCart .productInCartWrapper {
    width: 100%;
    height: 100px !important;
  }
  .cartContainer .billSection .signInNofication {
    position: relative !important;
    top: unset !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
    left: 50% !important;
    margin-top: 30px;
  }
  .signInNofication .message {
    font-size: 40px !important;
  }
  .cartContainer
.billSection
.signInNofication
.signInNoficationAction
.navLink
.button {
    font-size: 15px !important;
    width: 178px;
  }
  .cartContainer .billSection .signInNofication {
    width: 403px !important;
  }
}

@media (max-width: 600px) {
  .signInNofication {
    width: 100% !important;
    position: relative !important;
  }
  .signInNofication .message {
    font-size: 28px !important;
  }
  .cartContainer
.billSection
.signInNofication
.signInNoficationAction
.navLink
.button {
    font-size: 14px !important;
    width: 138px;
  }
  .cartContainer .billSection .signInNofication {
    width: 298px !important;
  }
  .cartContainer .totalSection .totalWrapper {
    width: 90% !important;
    margin-left: 5% !important;
    position: relative !important;
    top: unset !important;
  }
  .billHeader {
    font-size: 30px !important;
  }
}

@media (min-width: 960px) and (max-width: 1250px) {
  .cartContainer .billSection .productInCart .productInCartWrapper img {
    width: 150px !important;
  }
}
/*# sourceMappingURL=style.css.map */