.signInButton {
  color: white !important;
  text-transform: capitalize !important;
  height: 100%;
}
.signInLink {
  text-decoration: none;
  margin-left: 10px;
}
.searchNavLink {
  text-decoration: none;
}
.logoNavlink {
  text-decoration: none;
  color: white;
}
