@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homePageContainer {
  width: 100%;
  height: calc(100vh - 64px - 20px);
  overflow-y: scroll;
  padding-top: 10px;
  position: relative;
  background: #fc00ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#00dbde), to(#fc00ff));
  background: linear-gradient(to left, #00dbde, #fc00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homePageContainer .slideContainer {
  max-width: 100%;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 3px;
}

.homePageContainer .slideContainer .slide {
  width: 100%;
  height: 350px;
}

.homePageContainer .slideContainer .slide .slideSection {
  width: 90%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: 5%;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.homePageContainer .slideContainer .slide .slideSection .imageSection {
  width: 855px;
  height: 100%;
}

.homePageContainer .slideContainer .slide .slideSection .imageSection img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.homePageContainer .slideContainer .slide .slideSection .imageSection .saleBadge {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  color: #ffffff;
  background-color: #81c784e0;
  padding: 10px 20px;
  border-top-right-radius: 6px;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail {
  width: 480px;
  padding: 10px;
  background-color: #64b5f6;
  position: relative;
  background-color: #ffffff33;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .categoryItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .categoryItem .typeSection {
  margin-left: 4px;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .titleItem {
  font-weight: 700;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .headerDetail {
  font-weight: bold;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .headerDetail:after {
  content: " :";
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .categoryBadge {
  margin: 3px;
  cursor: pointer;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .detailItem {
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .priceItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 2%;
  bottom: 18%;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .priceItem .newPriceIcon {
  font-size: 60px;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .priceItem .originalPrice {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.26);
  padding: auto;
  padding: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .priceItem .salePrice {
  margin-left: 10px;
  font-size: 35px;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .detailAction {
  position: absolute;
  bottom: 7%;
  right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .detailAction .navlinkSlide {
  text-decoration: none;
}

.homePageContainer .slideContainer .slide .slideSection .slideDetail .detailAction .navlinkSlide .seeMoreButton {
  margin-right: 10px;
}

.homePageContainer .slideContainer .slide .appear {
  opacity: 1;
}

.homePageContainer .slideContainer .slideDot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.homePageContainer .slideContainer .slideDot .dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 2px;
  background-color: #455a64;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homePageContainer .slideContainer .slideDot .dot:hover {
  background-color: #3f51b5;
}

.homePageContainer .slideContainer .slideDot .dot:active {
  background-color: #757de8;
}

.homePageContainer .slideContainer .slideDot .active {
  background-color: #757de8;
}

.homePageContainer .slideContainer .arrow {
  font-size: 50px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  color: white;
}

.homePageContainer .slideContainer .arrow:hover {
  color: rgba(255, 255, 255, 0.9);
}

.homePageContainer .slideContainer .arrow:active {
  color: #718792;
}

.homePageContainer .slideContainer .arrowLeft {
  left: 0%;
  top: 40%;
}

.homePageContainer .slideContainer .arrowRight {
  right: 0%;
  top: 40%;
}

.homePageContainer .categoryContainer {
  width: 100%;
  height: 100vh;
  margin-top: 65px;
}

.homePageContainer .categoryContainer .category .categoryListSection {
  width: 100%;
  height: 100%;
}

.homePageContainer .categoryContainer .category .categoryListSection .categoryList {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.titleWrapper {
  margin-top: 30px;
  color: black;
  padding: 10px 5px 10px 0px;
  font-size: 20px;
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#434343), to(#000000));
  background: linear-gradient(to top, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titleWrapper .categoryNavlink {
  text-decoration: none;
  margin-right: 10px;
}

.titleWrapper .categoryNavlink a {
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
}

.titleWrapper .categoryNavlink:hover {
  text-decoration: underline;
}

.titleWrapper .title {
  margin-left: 10px;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  position: relative;
  font-family: "Hammersmith One", sans-serif;
}

.titleWrapper .title:before {
  content: "";
  width: calc(100%);
  height: 2px;
  background-color: #ffffff;
  bottom: 0px;
  left: 0px;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.titleWrapper .title:hover::before {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.basicHeader {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

@media (max-width: 960px) {
  .slideSection {
    margin-left: unset !important;
    width: 100% !important;
  }
  .arrow {
    display: none !important;
  }
  .squareAnimate {
    font-size: 25px !important;
  }
  .slideDetail h5.MuiTypography-root.titleItem.MuiTypography-h5.MuiTypography-gutterBottom {
    font-size: 22px !important;
  }
  .slideDetail .headerDetail {
    font-size: 16px !important;
  }
  .slideDetail p.MuiTypography-root.detailItem.MuiTypography-body2.MuiTypography-gutterBottom {
    font-size: 16px !important;
  }
  .detailAction span.MuiButton-label {
    font-size: 12px !important;
  }
}

@media (max-width: 700px) {
  .slideDetail {
    display: none;
  }
  .homePageContainer .slideContainer .slide .slideSection {
    height: 300px !important;
  }
  .slide {
    height: 300px !important;
  }
  .detailProduct h5.MuiTypography-root.titleItem.MuiTypography-h5.MuiTypography-gutterBottom {
    font-size: 16px !important;
  }
}

@media (max-width: 600px) {
  .slide {
    height: 200px !important;
  }
  .homePageContainer .slideContainer .slide .slideSection {
    height: 200px !important;
  }
  .saleBadge {
    font-size: 12px !important;
    padding: 10px 12px !important;
  }
  .titleWrapper .title,
  .titleWrapper .categoryNavlink a {
    font-size: 18px;
  }
  .titleWrapper {
    padding: 5px 5px 5px 0;
  }
}

@media (min-width: 1500px) {
  .homePageContainer .slideContainer .slide .slideSection {
    width: auto;
  }
  .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slideSection {
    margin-left: unset !important;
  }
}
/*# sourceMappingURL=homePage.css.map */